.container_etapa_cadastro {
  width: 100%;
  height: 80px;
  margin-top: 24px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.etapa {
  /* border: 1px solid red; */
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
}

.num {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.descricao {
  color: #d9d9d9;
  font-size: 18px;
}

.separador {
  width: 20%;
  height: 1px;
  background-color: #d9d9d9;
}

.bg_selecionado {
  background-color: var(--azul-fundo);
}

.color_selecionado {
  color: var(--preto-primario);
}

.container_cadastro {
  width: 100%;
  height: auto;
  /* padding: 16px; */
  /* border: 1px solid red; */
  margin-top: 24px;
  border-radius: 8px;
  background-color: white;
}

/* Estilos gerais para o Dropzone */
.dropzone {
  border: 2px dashed #d3d3d3 !important;
  /* Borda azul tracejada para destaque */
  border-radius: 10px;
  /* Bordas arredondadas */
  background-color: #f8f9fa;
  /* Fundo cinza claro */
  padding: 40px;
  /* Espaçamento interno */
  text-align: center;
  /* Centraliza o texto */
  font-family: Arial, sans-serif;
  /* Fonte limpa */
  color: #333;
  /* Cor do texto */
  min-height: 200px;
  /* Altura mínima para visibilidade */
  transition: border 0.3s ease-in-out;
  /* Efeito suave ao hover */
  margin-bottom: 16px;
  margin-top: 16px;
}

.dropzone:hover {
  border-color: #007bff !important;
}




.dz-remove {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  width: 31px !important;
  height: 31px !important;
  font-size: 19px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  z-index: 999 !important;
  cursor: pointer !important;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1) !important;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none !important;
  color: #333;
  transition: .3s;
}

.dz-remove:hover{
  color: rgb(172, 49, 49);
}


.docs{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.container_btns{
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn_cadastrar{
  height: 40px !important;
  font-size: 16px !important;
}


.btn_finalizar {
    width: auto;
    height: 40px;
    background-color: #2a7a45;
    border: 1px solid rgb(232, 232, 232);
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    line-height: 14px;
    cursor: pointer;
    transition: .3s;
}