@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
  margin: 0px;
  padding: 0px;
  font-display: swap;
  box-sizing: border-box;
  
}

:root {
  --hover-opcoes: rgb(235, 235, 235);
  --preto-primario: #141414;
  --branco-secundario: #c1c1c1;
  --azul-fundo: #061124;
}

body{
  overflow-x: hidden;
}

.container_principal {
  width: calc(100% - 80px);
  min-height: calc(100vh - 90px);
  margin-left: 80px;
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.pai_conteudo {
  width: 96%;
  max-width: 1260px;
  margin: 0 auto;
}
