#calendar {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-top: 24px;
}

#calendar
  > div.fc-view-harness.fc-view-harness-active
  > div
  > table
  > tbody
  > tr
  > td
  > div
  > div {
  overflow: inherit !important;
}

form {
  /* background: #fff; */
  /* padding: 15px; */
  border-radius: 1rem;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  color: #444;
}

#eventForm input[type="text"],
#eventForm input[type="datetime-local"],
#eventForm input[type="date"],
#eventForm textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.checkbox-group div{
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 0.5rem;
  font-weight: 500;
}

.color-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.color-choice {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border 0.2s;
}

.color-choice.selected {
  border-color: #333333;
  position: relative;
}

.color-choice.selected::after {
  content: '✔'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  font-weight: 700;
  font-size: 16px;
}



.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}

.data_evento {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dz-remove {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  width: 31px !important;
  height: 31px !important;
  font-size: 19px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  z-index: 999 !important;
  cursor: pointer !important;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2) !important;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none !important;
  color: rgb(172, 49, 49);
  transition: 0.3s;
}



@media (min-width: 1300px) {
  body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
    width: 40% !important;
  }
}
