#calendar {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin-top: 24px;
}

#calendar > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td > div > div{
  overflow: inherit !important;
}



